{% extends 'publisher/base.html' %}
{% load static %}


{% block body %}

<div class="container-fluid">
<div class="row">
<div class="col-sm-3" style="color: red">
  <p style="color: blue"></p>  
</div>



<div class="col-sm-6" style="padding-top: 87px">
    <div class="card">
  <div class="card-header text-primary">
     Want to know about us ?
  </div>
</div>


<div class="card mb-4">
<div class="card-body">

<div class="row">
	<div class="col-sm-4"></div>
	<div class="form-group">
<p>{% lorem 1 b random %}</p>
</div>

	<div class="col-sm-4"></div>
	</div>


                      </div>
                    </div>  
                  </div>

</div>



<div class="col-sm-3" style="color: red">
</div>

</div>
</div>

    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>
{% endblock %}












